<!DOCTYPE html>
<html>
<head>
	<title>Article{{post.id}}</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body class = "article_body">
	<div class="posts-archive">
		<div class="one-post">
 			<h2 class="post-title_1">{{ post.title }}</h2>
 			<div class="article-info_">
 				<div class="article-author_">Автор: {{ post.author.username }}</div>
 				<div class="article-created-date_">Дата: {{ post.created_date }}</div>
 			</div>
 			<p class="article-text">{{ post.get_full }}</p>
		</div>
	</div>
	<div class = "all_articles" >
		<a href ="/home"><h2 class= "all_articles_">Все записи</h2></a>
	</div>
</body>
</html>