body{
    background: #ccc;
    font-family: Georgia, serif;
    color: #000
} 
table{
    border-collapse: collapse;
}
p, h4{
    font-size: 20px;
    margin-bottom: 0;
}
h4{
    font-size: ;
}
ul, ol{
    margin: 0;
}
table tr td{
    padding: 5px;
}
table{
    width: 100%;
}
